.App{
    background:rgb(254, 255, 255);
    height:100vh;

    background: rgb(254,255,255);
    background: linear-gradient(284deg, rgba(254,255,255,1) 0%, rgba(57,189,208,0.9976365546218487) 61%, rgba(233,237,238,1) 100%);


}